.dashboard-wrapper{
	z-index: -9999;
   	position: relative;
    left: 0;
    margin-top: 60px !important;
    margin-left: 250px;
    min-height: 870px !important;
   	background-color: #f3f3f3;
}

@media only screen and (max-width: 900px){
	.dashboard-wrapper {
    	margin-left: 70px;
	}
}

