.navbar{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 100;
	background-color: #fff;
	border-bottom: 1px solid #D3D3D3;
	min-height: 60px;
}

.navbar .btn{
	margin-left: 5px;
	font-family: montserrat;
	border-radius: .25rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	width: 100px !important;
    height: 38px;
    text-transform: uppercase;
    font-weight: 500;
	color: #343a40 !important;
	background-color: #fafbfc;
	transition: all 0.5s ease-in-out;
}

.navbar .btn:hover{
	background-color: #0069D9;
	border: 2px solid #288EFF;
	color: #fff !important;
}

.navbar-brand{
	display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 1px;
    font-size: 22px !important;
    text-transform: uppercase;
    font-weight: 550;
    color: #007bff;
}

.navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
}

.navbar-right-top .nav-item .nav-link {
    font-size: 16px;
    color: #82849f;
}

.header-wrapper{
	background-color: #B7A8EA;
	padding-top: 8px;
	text-align: center;
	width: 264px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.header-wrapper .navbar-brand{
	color: white !important;
}