#header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/pexels-photo-1363165.jpeg);
	background-size: cover;
	height: 100vh;
}

.btn{
	width: 120px !important;
	height: 45px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

#login{
	top: 35px;
	background-color: #fafbfc!important;
	width: 100%;
	border-radius: 20px !important;
}

.form-group input[type=text]{
    border-radius: 10px;
    font-size: 16px;
    min-height: 46px;
    padding: 10px;
    width: 100%;
}

.form-group input[type=password]{
    border-radius: 10px;
    font-size: 16px;
    min-height: 46px;
    padding: 10px;
    width: 100%;
}

.navbar{
	background-color: rgba(0, 0, 0, 0.4);
}