.sidebar-dark{
	background-color: #FFFFFF !important;
}

.nav-left-sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 60px;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
}

.nav-left-sidebar .nav-link i {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
}

.nav-left-sidebar .nav-item a{
	display: block;
    color: #555;
    font-family: montserrat;
    font-size: 15px;
    padding: 10px 0;

}

.nav-left-sidebar .nav-items:hover a,i{

}

.nav-left-sidebar .nav-link{
	border-left: 4px solid #fff;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #242849;
    color: #fff;
   	border-left: 4px solid #3A85FF;
}

@media only screen and (max-width: 900px){
	.nav-left-sidebar {
    	width: 70px;
	}
	.nav-left-sidebar .nav-item a span{
		display: none;
	}
}
