.sidebar-dark{
	background-color: #FFFFFF !important;
}

.nav-left-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 60px;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
}

.nav-left-sidebar .nav-link i {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}

.nav-left-sidebar .nav-item a:hover{
	color: #242849 !important;
}

.nav-left-sidebar .nav-item a{
	display: block;
    color: #555;
    font-family: 'Titillium Web' ,'Open Sans';
    font-size: 12px;
    padding: 10px 0;
    text-transform: uppercase;
}

.navbar-active{
    background-color: rgb(242, 242, 242) !important;
    color: #242849 !important;
    border-left: 4px solid #242849;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

@media only screen and (max-width: 900px){
	.nav-left-sidebar {
    	width: 70px;
	}
	.nav-left-sidebar .nav-item a span{
		display: none;
	}
}
