*{
	outline: none !important;
}

.dashboard-wrapper{
   	position: relative;
    left: 0;
    margin-top: 60px !important;
    margin-left: 200px;
    height: 100%;
   	background-color: #f3f3f3;
}

.links{
	font-family: 'Titillium Web';
	width: 100%;
	background-color: #242849;
	height: 40px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	padding-top: 8px;
}

.top-controls .btn{
	margin-left: 5px;
	font-family: Dosis;
	border: 1px solid #242849;
	border-radius: .25rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	width: 70px !important;
    height: 38px;
    text-transform: uppercase;
    font-weight: 500;
	color: #343a40 !important;
	background-color: #fafbfc;
	transition: all 0.5s ease-in-out;
}

.top-controls .btn:hover{
	background-color: #242849;
	color: #fff !important;
}

.top-controls .btn i{
	margin-left: 5px;
}

.top-controls .form-control{
	font-family: Dosis;
	border: 1px solid #242849;
	height: 38px;
	border-radius: .25rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.table{
	font-family: 'Titillium Web';
	font-size: 0.98em;
}

.table .dropdown .btn{
	margin-left: 5px;
	font-family: Dosis;
	border: 1px solid #242849;
	border-radius: .25rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	width: 80px !important;
	height: 37px;
	color: #343a40 !important;
	background-color: #fafbfc;
	transition: all 0.5s ease-in-out;
}

.table .dropdown-toggle::after {
 	color: #242849;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -0.1em !important;
    vertical-align: 0.2em !important;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

@media only screen and (max-width: 900px){
	.dashboard-wrapper {
    	margin-left: 70px;
	}
}
